<div class="row">
  <div class="col-lg-12">
    <%= search_form_for @q, { :remote => true, url: path } do |f| %>  
      <div class="input-group">
        <%= f.search_field field_name, class: 'form-control', placeholder: 'Pesquisar' %>
        <span class="input-group-btn">
          <%= f.submit t('buttons.search'), class: "btn btn-#{type_button}" %>
        </span>    
      </div>
    <% end %>
  </div>
</div>