<div class="row">
  <h3 class="mx-auto">
    <%= @appointments.model_name.human(count: @appointments.length) %>
    <small class="text-muted"><%= t('labels.listed') %></small>
  </h3>
</div>

<%= render partial: 'upa/shared/search',
           locals: { 
            path: upa_appointments_path, 
            field_name: :patient_name_cont, 
            type_button: 'outline-danger' 
                   } %>

<div id="list-appointments">
  <%= render partial: 'upa/appointments/shared/appointments' %>
</div>

