/* line 4, app/assets/stylesheets/upa_devise.scss */
body {
  background-color: #006622;
}

/* line 8, app/assets/stylesheets/upa_devise.scss */
.form-login {
  box-shadow: 5px 5px 5px #000;
  margin-top: 50px;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
}
