<footer class="footer">
  <div class="container">
    <p class="text-muted text-right">Social</p>
    <ul class="list-inline pull-right">
      <li class="btn-social btn-outline"><i class="fa fa-fw"></i></li>
      <li class="btn-social btn-outline"><i class="fa fa-fw"></i></li>
      <li class="btn-social btn-outline"><i class="fa fa-fw"></i></li>
      <li class="btn-social btn-outline"><i class="fa fa-fw"></i></li>
      <li class="btn-social btn-outline"><i class="fa fa-fw"></i></li>
    </ul>
  </div>
</footer>