<footer class="text-white mt-4" style="background-color: #563d7c;">
  <div class="container-fluid py-3">
      <div class="row">
          <div class="col-md-3">
            Dashboard
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
      </div>
      <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3 text-right small align-self-end">©2017 UPA</div>
      </div>
  </div>
</footer>