// Global
$border-color: #000;
$background-color: #fff;

// Backoffice
$primary-color-backoffice: #563d7c;
$secondary-color-backoffice: #fff;

// Upa
$primary-color-upa: #006622;
$secondary-color-upa: #fff;