/*
 *= require tether
 *= require bootstrap
*/

// $color-background: #399be0;
$primary-color-background: #006622;
$secondary-color-background: #fff;
$border-color: #000;

body {
  padding: {
    top: 40px;
    bottom: 40px;
  }
  background-color: $primary-color-background;
}

.form-signin {
  max-width: 330px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 5px 5px 10px $border-color;
  border-radius: 10px;
  background-color: $secondary-color-background;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}