@import './custom_form_login';

$primary-color-background: #006622;
$secondary-color-background: #fff;
$border-color: #000;

body {
  @include custom-body($primary-color-background);
}

.form-login {
  @include custom-form-login($border-color, $secondary-color-background);
}